
.topBar {
    display: flex;
    width: 100%;
    background-color: #E5EAFE;
    height: 40px;
}

.topBar2 {
    display: flex;
    width: 100%;
    background-color: #DBE0F1;
    height: 5px;
}

.mainLogo {
    margin-left: 15px;
    margin-top: 0.2%;
    float: left;
    clear: both;
}

.profile {
    width: 15%;
    margin-left: 80%;
    display: flex;
    float: right;
}

.userName {
    margin-left: 7%;
    margin-top: 7%;
    float: right;
}