html,
body {
  margin: 0;
  padding: 0;
}

#start_title {
  text-align: center;
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: 10%;
  margin-top: 0%;
  color: #000000;
}

#content {
  text-align: center;
}

#start_point {
  width: 400px;
  height: 35px;
  background-color: #edecec;
  color: #828282;
  border-radius: 5px;
  border: 0px;
  font-size: 18px;
  text-align: center;
}

#btn_search {
  height: 48px;
  width: 190px;
  border-radius: 30px;
  border: 0px;
  background-color: #466fff;
  color: #f5f5f5;
  box-shadow: 0px 5px 5px #b4b0b0;
  font-size: 20px;
  font-weight: 600;
  margin: 17% 0% 0% 0%;
}

.modal_wrap {
  text-align: center;
  display: none;
  width: 40%;
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -31% 0% 0% -20%;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px #b4b0b0;
  border-radius: 35px;
}

.modal_close {
  position: absolute;
  width: 90px;
  height: 40px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0px 5px 5px #b4b0b0;
  background-color: #466fff;
  color: white;
  font-weight: 700;
  font-size: 17px;
  margin: -25% 0% 0% -8%;
}

#position {
  width: 50px;
  height: 20px;
  font-size: 10px;
  margin: 0% 90% 2% 0%;
  background-color: #fcf5f2;
  color: #db615c;
  border-radius: 10px;
  border: 0px;
}

#keyword {
  position: relative;
  width: 480px;
  height: 35px;
  background-color: #e1e1e3;
  border-radius: 7px;
  border: 0px;
  font-size: 17px;
  padding-left: 20px;
  font-weight: 700;
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  position: relative;
  width: 800px;
  height: 500px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 290px;
  margin: 3% 0% 0% 8%;
  padding: 5px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.bg_white {
  background: #fff;
}

#menu_wrap::-webkit-scrollbar {
  display: none;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}
#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#placesList .item .info {
  padding: 10px 0 10px 5px;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .tel {
  color: #009900;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

.btn_submit {
  background-image: url("/static/img/search.png");
  position: absolute;
  background-size: 20px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: 0px;
  cursor: pointer;
  outline: 0;
  background-color: #e1e1e3;
  background-color: rgba(255, 255, 255, 0);
  margin: 1% 0% 0% -7%;
}
