{% extends 'accounts/base1.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>키워드로 장소검색하고 목록으로 표출하기</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>

    <div id="content">
      <div>
        <p id="start_title">언제만나 팀의 출발지점 확인</p>
      </div>

      <div class>
        <input
          id="start_point"
          type="text"
          placeholder="출발 위치를 입력해주세요"
          value=""
          size="50"
        />
        <input id="lat" type="text" value="" style="display: none" />
        <input id="lan" type="text" value="" style="display: none" />
      </div>
      <div>
        <input
          type="button"
          id="btn_search"
          value="중간 지점 찾기"
          onclick="send_address(this)"
        />
      </div>
      <div class="modal_wrap">
        <div class="map_wrap">
          <div id="map" style="display: none"></div>

          <div id="menu_wrap" class="bg_white">
            <div class="option">
              <div>
                <div>
                  <button
                    type="button"
                    id="position"
                    onclick="getCurrentPosBtn()"
                  >
                    내 위치
                  </button>
                </div>
                <form onsubmit="searchPlaces(); return false;">
                  <input type="text" value="" id="keyword" size="15" />
                  <input type="submit" value="" class="btn_submit" />
                </form>
              </div>
            </div>
            <hr />
            <ul id="placesList"></ul>
            <div id="pagination"></div>
          </div>
        </div>
        <div>
          <button type="button" class="modal_close">완료</button>
        </div>
      </div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d69a7a5478026221a062ef69c9c7cb29&libraries=services"
    ></script>

    <script>
      $.ajaxSetup({
        headers: { "X-CSRFToken": "{{csrf_token}}" },
      });
    </script>
    <script>
      window.onload = function () {
        document
          .getElementById("address_kakao")
          .addEventListener("click", function () {
            //주소입력칸을 클릭하면
            new daum.Postcode({
              oncomplete: function (data) {
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
              },
            }).open();
          });
      };
    </script>
    <script type="text/javascript" src="/static/js/test2.js"></script>
    <script>
      function send_address(e) {
        const longyy = document.getElementById("lan");
        const latxx = document.getElementById("lat");

        coordinate = {
          address: document.getElementById("start_point").value,
          latitude: longyy.value,
          longitude: latxx.value,
        };
        console.log(coordinate);

        $.ajax({
          url: "/save-coordinate/",
          type: "POST",
          data: JSON.stringify(coordinate),
          datatype: "json",
        })
          .done(function (data) {
            alert("주소 전송에 성공하였습니다.");
            window.location.href = "{% url 'wheremeet-result' pk %}";
          })
          .fail(function (data) {
            alert(
              "전송 중 서버와의 통신에 문제가 발생하였습니다.\n원인: " +
                data.reason
            );
          });
      }
    </script>
  </body>
</html>

{% endblock %}